In [1]:
#python operators

In [4]:
#     oprand   operator     oprand 
print(2          +               2)
print(2+6)

4
8

In [5]:
num1 = 7
num2 = 3

print(num1 + num2) #addition operation

10

In [7]:
num1 = "1"
num2 = "1"

print(num1 + num2)#concatenation

11

In [13]:
num1 = "1" # string
num2 = "2" # integer

print(f"num1:{type(num1)} num2:{type(num2)}")
print(num1 + num2)#concatenation

num1:<class 'str'> num2:<class 'str'>
12

In [12]:
l1 = ['a','b','c']
l2 = [1,2,3]

print(f"num:{type(l1)}) num2:{type(12)}")
print(l1,l2)
print(l1 + l2)

num:<class 'list'>) num2:<class 'int'>
['a', 'b', 'c'] [1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

#python arithemtic operators

In [14]:
x = 10
y = 2
print(x + y)

12

In [15]:
x = 10
y = 2
print(x - y)

8

In [16]:
x = 10
y = 2
print(x * y)

20

In [17]:
x = 10
y = 2
print(x / y)# float

5.0

In [21]:
#modulus
x = 19
y = 2
print(x % y)

1

In [25]:
#Exponetation
x = 2
y = 2
print(x ** y)
print(2 ** 2)

4
4

In [27]:
#floor division = jo value point mai hogi us ko neche liaega (for eg 2.9=2)

print(5 / 2)
print(5 // 2)
print(24 / 13)
print(24 // 13)

2.5
2
1.8461538461538463
1

# python assignment operators

In [29]:
a = 5
print(a)
a =a + 1
print(a)
print(a)
print(a)
a =a + 1
print(a)

5
6
6
6
7

In [30]:
a = 1   #Assign new value
print(a)
a = 3  # overwrite old value with 3

1

In [31]:
a = 10
print(a)
a *=2 
print(a)

10
20

# Python Comparison Operators

In [34]:
a = 5
b = 5

print(a == b)

True

In [36]:
a = 5
b = 8

print( a > b)

False

In [37]:
a = 5
b = 5

print(a <= b)

True

In [38]:
a = 9
b = 5

print(a <= b)

False

In [39]:
a= 'qasim'
b= 'qasim'
print(a)

qasim

In [40]:
chr(65)

'A'

In [44]:
ord('7')

55

In [45]:
a = '65'
b = '66'

print(a>b)
print(a == b)
print(a < b)

False
False
True

In [46]:
# Python Logical Operators

In [50]:
#        l  op   l  op     l       op
print(True and True and True and True)
print(True and True and False and True)
print(False and False and False and False)

True
False
False

In [51]:
#        l  op   l  op     l       op
print(True or True or True or True)
print(True or True or False or True)
print(False or False or False or False)

True
True
False

In [54]:
not True

False

In [55]:
not False

True

In [1]:
password = input('enter your password')
print(password=='abc')
print(not password=='abc')
print(not True)
print(not False)
print(password)

enter your passwordpakistan
False
True
False
True
pakistan

# Python Identity Operators

# Shallow copy

In [59]:
a = 5
b = 5
c = 5

print(id(a), id(b),id(c))
print(a)
print(b)
print(c)

2631278422448 2631278422448 2631278422448
5
5
5

In [61]:
a = 5
a = '5'
print(id(a), id(b))

2631279351728 2631278422448

In [62]:
a = 5
a = 5
print(id(a), id(b))

2631278422448 2631278422448

# Deep copy

In [64]:
saylani = ["hasan"]
student = saylani.copy()

print(saylani, student)
print(id(saylani), id(student))
print(saylani == student)
print(saylani is student)

['hasan'] ['hasan']
2631362821056 2631362793024
True
False

# Python Membership Operators

In [68]:
message = "pakistan zinda bad we love our country"

print('zinda' in message)
print('Zinda' in message)
print('hasan' in message)

True
False
False

In [69]:
names = ['Qasim','Hasan','junaid',"yasir"]
print('Hasan' in names)
print('yasir' not in names)

True
False