# List Data type
 
* start with `[` and end with `]`
* value/items `store any data type`
* separator between rwo items ,
* indexing 
      * positive indexing `--->` left to right always start with **zero**
      * negative/reverse `<---` right to left always start **-1**
 
* extract value from list with index value `variable_name[index_num]` 


# Slicing

* `variable[sart"end:step]` all parameters are numbers
     * **start** include
     * **end** exclude(end-10
     * **

In [1]:
stdid1 = 1
stdname = "Ali"
stdfname1 = "Hasan"

stdid2 = 2
stdname2 = "kashif"
stdfname2 = "Asif"

In [2]:
#array = multiple value store krta ha but same datatype

In [3]:
names = ['asif','hasan','454743743','ali',1000,True]
print(names)

['asif', 'hasan', '454743743', 'ali', 1000, True]

In [4]:
#positive indexing
# --->      0      1         2        3     4    5
names = ['asif','hasan','454743743','ali',1000,True]
print(names)

['asif', 'hasan', '454743743', 'ali', 1000, True]

In [7]:

names = ['asif','hasan','454743743','ali',1000,True]
# <---      -6    -5        -4        -3   -2    -1
print(names[1])
print(names[-3])
print(names[4],names[-3])

hasan
ali
1000 ali

# old programming code style for printing all array values

In [9]:
names = ['asif','hasan','454743743','ali',1000,True]
counter = 0 
while counter < len(names):
    print(names[counter])
    counter += 1

asif
hasan
454743743
ali
1000
True

# now print with pythonic style

In [10]:
# iteration = sequence in data type
# index = is mai single value utha skte
# slicing = is mai multiple value utha skte

names = ['asif','hasan','454743743','ali',1000,True]

for name in names:
    print(name)

asif
hasan
454743743
ali
1000
True

In [15]:
names = ['asif','hasan','454743743','ali',1000,True]
counter = 1
while counter < 6:
    print(names[counter])
    counter += 1

hasan
454743743
ali
1000
True

# Slicing

# slicing = is mai multiple value utha skte

In [16]:
# --->      0      1         2        3     4    5
names = ['asif','hasan','454743743','ali',1000,True]
# <---      -6    -5        -4        -3   -2    -1

print(names[1:6])
print(names[1:6:1])

['hasan', '454743743', 'ali', 1000, True]
['hasan', '454743743', 'ali', 1000, True]

In [18]:
# --->      0      1         2        3     4    5
names = ['asif','hasan','454743743','ali',1000,True]
# <---      -6    -5        -4        -3   -2    -1

print(names[::3])
print(names[::-1])

['asif', 'ali']
[True, 1000, 'ali', '454743743', 'hasan', 'asif']

In [30]:
# --->      0      1         2        3     4    5
names = ['asif','hasan','454743743','ali',1000,True]
# <---      -6    -5        -4        -3   -2    -1

print(names[4:-6:-1])
print(names[-7:4])

[1000, 'ali', '454743743', 'hasan']
['asif', 'hasan', '454743743', 'ali']

In [34]:
# --->      0      1         2        3     4    5     6
names = ['asif','hasan','454743743','ali',1000,True,'kashif']
# <---      -7     -6        -5       -4     -3   -2    -1
print(names[3:-4:])

[]

In [40]:
# --->      0      1         2        3     4    5     6
names = ['asif','hasan','454743743','ali',1000,True,'kashif']
# <---      -7     -6        -5       -4     -3   -2    -1


print(names[-3:])
print(names[0:3])
print(names[:3])
print(names[:-6])

[1000, True, 'kashif']
['asif', 'hasan', '454743743']
['asif', 'hasan', '454743743']
['asif']

# apply operators on list data type

In [44]:
l1 = ['pakistan',1000,2000]
l2 = ['abc','xyz']

l1 + l2

['pakistan', 1000, 2000, 'abc', 'xyz']

In [47]:
print(l1 * 3)

['pakistan', 1000, 2000, 'pakistan', 1000, 2000, 'pakistan', 1000, 2000]

In [49]:
print (' pakistan ' * 3)

 pakistan  pakistan  pakistan

In [50]:
names*3

['asif',
 'hasan',
 '454743743',
 'ali',
 1000,
 True,
 'kashif',
 'asif',
 'hasan',
 '454743743',
 'ali',
 1000,
 True,
 'kashif',
 'asif',
 'hasan',
 '454743743',
 'ali',
 1000,
 True,
 'kashif']

# list data type methods

In [52]:
[i for i in dir(list) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [57]:
names =[]

names.append("asif")
names.append("hasan")
names.append("ali")
names.append([1, 2, 3])
print(names)

['asif', 'hasan', 'ali', [1, 2, 3]]

In [59]:
l1 = ['pakistan',1000,2000]
l2 = l1
l2[1] = 7000
print(l1)
print(l2)

['pakistan', 7000, 2000]
['pakistan', 7000, 2000]

In [60]:
l1 = ['pakistan',1000,2000]
l2 = l1.copy()
l2[1] = 7000
print(l1)
print(l2)

['pakistan', 1000, 2000]
['pakistan', 7000, 2000]

In [61]:
# in memory
l1 = [1,2,3]
l2 = ['a','b','c']

l1.extend(l2)

print(l1,l2)

[1, 2, 3, 'a', 'b', 'c'] ['a', 'b', 'c']

In [64]:
l1 = ['a', 'b' , 'c' , 'x', 'y' , 'z']

print(l1.index('a'))
print(l1.index('a',1))

0

ValueError: 'a' is not in list

In [65]:
l1 = ['a', 'b' , 'c' , 'x', 'y' , 'z']

print(l1)
l1.pop()
print(l1)
l1.pop()
print(l1)
l1.pop(0)
print(11)

['a', 'b', 'c', 'x', 'y', 'z']
['a', 'b', 'c', 'x', 'y']
['a', 'b', 'c', 'x']
11

In [66]:
l1 = ['a', 'b' , 'c' , 'x', 'y' , 'z']

print(l1)
l2.append(l1.pop())
print(l1)
l2.append(l1.pop())
print(l1)
l2.append(l1.pop(0))
print(11)

['a', 'b', 'c', 'x', 'y', 'z']
['a', 'b', 'c', 'x', 'y']
['a', 'b', 'c', 'x']
11

In [71]:
l1 = ['a', 'b' , 'c' , 'a' , 'x', 'y' , 'z']

l1.sort()
print(l1)

['a', 'a', 'b', 'c', 'x', 'y', 'z']

In [70]:
l1 = ['a', 'b' , 'c' , 'a' , 'x', 'y' , 'z']

l1.reverse()
print(l1)

['z', 'y', 'x', 'a', 'c', 'b', 'a']

In [72]:
l1 = ['a', 'b' , 'c' , 'a' , 'x', 'y' , 'z']

l1.sort(reverse=True)
print(l1)

['z', 'y', 'x', 'c', 'b', 'a', 'a']

# Remove value from list search with string

In [80]:
l1 = ['a', 'b' , 'c' , 'a' , 'x', 'y' , 'z']

remove_item = input("Enter item: ")
indx = l1.index(remove_item)

print(remove_item, type(remove_item))
print(indx,type(indx))

l1.pop(indx)

print(l1)

Enter item: b
b <class 'str'>
1 <class 'int'>
['a', 'c', 'a', 'x', 'y', 'z']

In [81]:
l1 = ['a', 'b' , 'c' , 'a' , 'x', 'y' , 'z']

l1.remove('x')
print(l1)

['a', 'b', 'c', 'a', 'y', 'z']

In [84]:
l1 = ['a', 'b' , 'c' , 'a' , 'x', 'y' , 'z']

remove_item = input("Enter item: ")
l1.remove(remove_item)
print(l1)

Enter item: z
['a', 'b', 'c', 'a', 'x', 'y']